In [1]:
import pandas as pd

df = pd.read_pickle("data/Airlines_ticket_data_ready.pkl")
df.head()

,origin,finaldest,return,year,quarter,airports,return_sym,stops,avgprice,passengers,...,shareUS,shareVX,shareWN,shareXE,shareXJ,shareYV,shareYX,shareZW,treated,smallmkt
0,ABE,ABI,1,2010,2,7,1.0,2,530.0,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,False,True
1,ABE,ABI,1,2010,3,7,0.0,2,822.5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,True
2,ABE,ABI,1,2010,4,7,1.0,2,389.5,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,True
3,ABE,ABI,1,2011,1,7,1.0,2,381.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,True
4,ABE,ABI,1,2011,3,7,1.0,2,1096.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,True